:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}


html,
body {
    height: 100%;
}

img {
    max-width: 100%;
}

ul>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

.wrapper {
    min-width: 100%;
    overflow: hidden;
}



.hero {
    height: 100vh;
    background: url(../img/flowers-4k-pc-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.60);
    height: 100vh;
}

.container {
    padding-top: 153px;
    max-width: 1300px;
    margin: 0 auto;
}

.hero__main {
    background: none;
    backdrop-filter: blur(100px);
    border-radius: 50px;
    transition: all 0.9s;
    border: 1.5px solid white;
}

.hero__main:hover {
    transform: scale(1.1);
    border: 1.5px solid rgb(236, 129, 255);
}

.hero__title {
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 96px;
    text-align: center;
    color: var(--white);
    transition: all 4s;
}

.hero__title:hover{
    color: rgb(236, 129, 255);
}

.img__wrap{
    flex-wrap: wrap;
    margin-top: 200px;
    column-gap: 270px;
    display: flex;
}

.img__first{
    height: 500px;
    border: 2PX SOLID white;
    transition: all 0.9s;
}

.img__second{
    height: 500px;
    border: 2PX SOLID white;
    transition: all 0.9s;
}

.img__second:hover{
    transform: scale(1.5);
    border: 2px solid rgb(236, 129, 255);
}

.img__first:hover{
    transform: scale(1.5);
    border: 2PX SOLID rgb(236, 129, 255);
}



.hero__subtitle:nth-child(2) {
    font-size: 30px;
}

.air {
    background-color: rgb(22, 22, 22);
    width: 100vw;
    height: 40px;
}

.learn {
    background-image: url(../img/flowers-4k-pc-hd-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.learn__main {
    padding-top: 100px;
    font-family: var(--font-family);
    text-align: center;
}

.learn__title {
    font-size: 60px;
    padding-bottom: 100px;
}

.learn__subtitle {
    font-family: var(--font-family);
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    transition: all 0.4s;
    font-size: 40px;
}

.padding {
    margin-bottom: 100px;
}

.learn__subtitle:hover {
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    border: 2px solid white;
    width: 900px;
    margin: 0 auto;
    padding-top: none;
    margin-bottom: 100px;
    cursor: pointer;
    transform: scale(1.2);
}